.app-header {

  

  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  height: 10vh;           /* Ocupa 100% da altura da tela */
}
