<app-header></app-header>


<main>


  <section class="main-section">
    <div class="headline">

      <span>JADEILTON CONSULTORIA</span>
      <h1> Consultoria com Especialistas capacitados para Desenvolver seu Software</h1>
    </div>

    <img ngSrc="./assets/consultoria.png" width="450" height="500">
  </section>

  <section class="benefit-section pad-70">

    <div class="benefit-data">
     <h2>
       95% das<br/>
      empresas
     </h2>
    </div>
    <P> Não conseguem resolver problemas com <b>Cloud</b> e Desenvolvimento de <b>Software</b> </P>
  </section>


  <section class="cta-section">

      <btn-primary btn-text="Quero Evoluir meu Software"></btn-primary>
  </section>
  <newsletter-form></newsletter-form>
    <section class="benefit-section pad-70">
        <benefit-card
            card-title="Equipe capacitada"
            img-path="/assets/equipe.png "
            card-description="Desenvolvedores com mais de 10 anos de experiência em desenvolvimento de software."
        >
        </benefit-card>
        <benefit-card
            card-title="Seus projetos guiados do zero"
            img-path="/assets/equipe2.webp"
            card-description="Equipe de Desenvolvedores Especialistas em Cloud e Software com 24 horas de assistencia."
        >
        </benefit-card>

        <benefit-card
            card-title="O melhor da Escabilidade na Nuvem."
            img-path="/assets/aws.webp"
            card-description="Computação em Nunvem com AWS."
        >
        </benefit-card>
    </section>

    <section class="cta-section pad-70">
        <h2>Quer elevar seu software e seus<br/>
        negócios para outro nível?</h2>
        <btn-primary btn-text="Quero Evoluir meu Software"></btn-primary>
    </section>
      <app-footer></app-footer>
</main>
