@import "../../../color-variables.scss";


.main-section{


  display: flex;
  justify-content: flex-end; /* joga o conteúdo para a direita */
  align-items: center;       /* alinha verticalmente ao centro (opcional) */
  height: 100vh;             /* opcional, se quiser ocupar a tela toda */
  padding-right: 40px;

  font-family: "Roboto", sans-serif;

  padding: 0 70px;
  span{
    font-size: 20px;
    font-weight: 700;
    color: $secondary-text;
  }
  h1{
    font-size: 72px;
    font-weight: 900;
    color: $primary-text;
  }

}





.benefit-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;

  .benefit-data{
    border-bottom: 20px solid $secondary-color;
    padding-bottom: 50px;
 h2{
    font-size: 60px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: $primary-text;
}
  }

 p {
        font-size: 24px;
        font-style: italic;
        font-weight: 300;

        b {
            background: -webkit-linear-gradient(180deg, $light-primary-color, $secondary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;
        }
    }
}



@media (min-width: 1080px){
  .main-section{
    flex-direction: row;
  }


  .benefit-section{
    flex-direction: row;
  }
}
