<app-header></app-header>


<main>


  <section class="main-section">
    <div class="headline">

      <span>JADEILTON CONSULTORIA</span>
      <h1> A Consultoria que vai te ajudar a Evoluir seu Software</h1>
    </div>

    <img ngSrc="./assets/consultoria.png" width="450" height="500">
  </section>

  <section class="benefit-section">

    <div class="benefit-data">
     <h2>
       95% das<br/>
      empresas
     </h2>
    </div>
    <P>Não entendem como resolver problemas de <b>Cloud</b> e <b>Desenvolvimento</b> de Software</P>
  </section>




</main>
